- model_class = Document
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
= form_tag search_documents_path, method: :get,
    class: 'form-inline' do 
  .form-group
    = text_field_tag :query, params[:query], class: 'form-control', placeholder: 'Enter query.'
  = submit_tag 'Search', class: 'btn btn-primary'
%hr
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:body)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @documents.each do |document|
      %tr
        %td= link_to document.id, document_path(document)
        %td= link_to document.title, document
        %td= document.body.truncate(100)
        %td=l document.created_at, format: :short
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_document_path(document), :class => 'btn btn-default btn-xs'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), document_path(document), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_document_path, :class => 'btn btn-primary'
