- model_class = Document
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:title) + ':'
  %br
  = @document.title
%p
  %strong= model_class.human_attribute_name(:body) + ':'
  %br
  = @document.body


= link_to t('.back', :default => t("helpers.links.back")), documents_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_document_path(@document), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), document_path(@document), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
